<br><br>
<button (click)="Toggle()">Display Details</button>
<p *ngIf='evenNumber'>Secret Password = Tuna</p>


    <!-- <div *ngFor="let appclicks of numofbtnclicks" >
    
    </div> -->

    <div  *ngIf="i<=4"> <li *ngFor="let appclicks of numofbtnclicks">{{ appclicks }}</li></div>

    <div *ngIf="i>=5">
     <li [ngStyle]="{backgroundColor:getColor()}" *ngFor="let appclicks of numofbtnclicks">{{ appclicks }}</li></div>

    <!-- <app-firstcomp *ngFor="let appclicks of numofbtnclicks"></app-firstcomp> -->

   
